{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
{% block body %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/pic11.jpg' %}"  class="d-block w-100 " height="602" alt="My image">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/pic22.jpg' %}" class="d-block w-100 "  height="602" alt="My image">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/pic55.jpg' %}" class="d-block w-100 " height="602" alt="My image">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/pic44.webp' %}" class="d-block w-100 "  height="602" alt="My image">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
</html>
