{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 50px;
}
</style>
<body>
<h1> Welcome to TTM</h1>
<table style="width:100%" >
    <colgroup>
  <col span="2" style="background-color: red">
</colgroup>
  <tr>
      <td><img src="{%static 'images/index.jpg'%}" alt="welcome"></td>
    <td><center>Welcome to TTM Homepage</center></td>

  </tr>

</table>
</body>
</html>
